* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1.4em;
	vertical-align: baseline;
	text-decoration: none;
	outline: 0;	
}
body {
	background-color: #dedede;
	font-size: 25px;
	font-family: Georgia, Times New Roman, serif;	
}
#tlo{	
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}
#tlo img{
    max-width: 100%;
    height: auto;
    width: auto;
}
#menu ul{
	text-align: center;
	background-color: rgba(143, 1, 25, 0.3);
	border-color: rgba(143, 1, 25);
	position: relative;
	padding: 5px 10px;
}
#menu li {
	border-color: rgba(143, 1, 25, 0.3);
	font-size: 25px;
	color: White;
	border-style: solid;
	padding: 2px 5px;
	margin: 40px;
	display: inline;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#menu a{
	text-decoration: none;
	color: white;
}
#menu li:hover {
	background-color: rgba(226, 39, 126, 0.3);
} 

h1 {
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	color: rgb(143, 1, 25);
	font-style: italic;
}
#posty{
	margin: 1px 20px;		
}
#socialmedia {
	float: right;
	
}
.author{
	text-align: justify;	
	margin: 10px 20px;
}
.contact{	
	margin: 10px 20px;
	text-align: center;
}

p{
	padding: 10px;
	font-size: 0.8em;
}
.content{
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background-color: #fcfcfc;
	text-align: justify;	
}
.content .main-content{
	width: 66.67%;
	float: left;
}
.content .right-side{
	width: 30%;
	float: left;
}
.content{
	margin-top: 40px;
    margin-bottom: 40px;
}
.footer{	
	clear: both;
	text-align: center;	
	font-size: 	15px;
	background-color: rgb(143, 1, 25);
	height: 50px;
	color: white;
	line-height: 2px;
}
.footer a{
	color: White;
	font-size: 10px; 
}
.content:before{
	content:'';
	display: table;
}
.content:after{
	content:'';
	display: table;
	clear: both;
}
.social{
	width:32px;
	height:32px;
}
.social img:hover {
	background-color: rgba(226, 39, 126, 0.3);
}